body{
    background-color: brown;
    color: white;
}

@media screen and (max-width:600px) {
    body{
        background-color: rgb(134, 134, 209);
    }
}    

@media  (min-width:601px) and (max-width:800px) {
    body{
        background-color: rgb(110, 179, 110);
    }
    
}

div{
    color: brown;
    background-color: bisque;
    padding: 20px;
    margin: 10px;
}

@media (min-width:600px) {
    div{
        display: inline-block;
        width: 200px;
        height: 200px;
    }
    
}


/*tiny devices haha(portrait phones)*/
@media (min-width:323px) {
    
}

/*small devices (landscape phones( orientation landscape is when the height is smaller than the width on 576 // or ; and it'll work from 576 even if the screen is higher)*/
@media (orientation: landscape) and (min-width:576px) {
    
}

/*medium (tablets, phones?)*/
@media (min-width:768px) {
    
}

/*large(desktops,laptops*/
@media (min-width: ){
    
}

/*extra large*/
@media (min-width:1200px) {
    
}